<% if current_user %>
	<% provide(:title, current_user.name) %>
	
	<%= render partial: 'activities/new_partial', :locals => {:activity => @activity} %>
	<div id="activities">
		<%= render 'home_page/all_users_activities' %>	
	</div>
	
	
<% else %>
	<% provide(:title, 'ActivityHelper') %>
	<div class="center hero-unit">
		<h1>Welcome To The Activities Feed</h1>
		<span class="content"><%= link_to  "Sign in", new_user_session_path%> | <%= link_to "Sign up", new_user_registration_path%> and start sharing your activities to the world!</span>
		<%= link_to "Sign Up Now!",new_user_registration_path, class: "btn btn-large btn-primary" %>
	</div>
<% end %>
