<% provide(:title, @user.username) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= (@user.username) %>
      </h1>
      <div><%= link_to "Find Friend", users_path if (user_signed_in? && correct_user) %></div>
    </section>

    <div class="friend-link"><%= link_to "See Friends", "#" %></div>
    <div id="friend-list">
      <ul>
        <% @user.friendships.each do |friendship| %>
          <% if friendship.status==true %>
          <li>
            <%= gravatar_for(friendship.friend,size:22) %>
            <%=h link_to friendship.friend.username, friendship.friend %>
            <%  if user_signed_in? && correct_user %>
              <div class="friendship-remove-link">
                <%= link_to "Remove", user_friendship_path(current_user,friendship), method: :delete  %>
              </div>
            <% end %>
          </li><br/>
          <% end %>
        <% end %>
        <% @user.inverse_friendships.each do |inverse_friendship| %>
          <% if inverse_friendship.status==true %>
          <li>
            <%= gravatar_for(inverse_friendship.user,size:22) %>
            <%=h link_to inverse_friendship.user.username, inverse_friendship.user %>
            <%  if user_signed_in? && correct_user %>
              <div class="friendship-remove-link">
                <%= link_to "Remove", user_inverse_friendship_path(current_user,inverse_friendship), method: :delete  %>
              </div>
            <% end %>
          </li><br/>
          <% end %>
        <% end %>
      </ul>
    </div>

    <%  if user_signed_in? && correct_user %>
    <div class="friended-by-link"><%= link_to "See Pending Request", "#" %></div>
    <div id="friended-by-list">
      <ul>
        <% @user.inverse_friendships.each do |inverse_friendship| %>
        <% if inverse_friendship.status==false %>
          <li>
            <%= gravatar_for(inverse_friendship.user,size:22) %><%=h link_to inverse_friendship.user.username, inverse_friendship.user %>
                  <div class="friendship-remove-link">
                    <%= link_to "Accept", user_friendship_path(current_user,inverse_friendship), method: :put %>
                    <%= link_to "Decline", user_inverse_friendship_path(current_user, inverse_friendship), method: :delete %>
                  </div>
          </li><br/>
        <% end %>
        <% end %>
      </ul>
    </div>
    <% end %>

    <% if user_signed_in? && correct_user %>
      <div class="see-outbox"><%= link_to "See Outbox", "#" %></div>
        <div class="outbox-message-list">
          <% if current_user.messages.any? %>
            <% current_user.messages.each do |msg| %>
              <div class="message label label-inverse">
                <%= msg.message %><br/>
                  <small class="abc">(To: <%= link_to msg.recipient.username, msg.recipient %> 
                at <%= msg.created_at %>.)</small>
              </div>
            <% end %>
          <% end %>
        </div>
      
      <div class="see-inbox"><%= link_to "See Inbox", "#" %></div>
        <div class="inbox-message-list">
          <% if current_user.inverse_messages.any? %>
            <% current_user.inverse_messages.each do |inv_msg| %>
              <div class="message label label-inverse">
                <%= inv_msg.message %><br/>
                  <small class="abc">(From: <%= link_to inv_msg.user.username, inv_msg.user %> 
                at <%= inv_msg.created_at %>.)</small>
              </div>
            <% end %>
          <% end %>
      </div>
      

    <% elsif user_signed_in? && !correct_user && (current_user.friendships.find_by_friend_id(@user.id).present? || current_user.inverse_friendships.find_by_user_id(@user.id).present?) %>

        <%= form_for :text, url:user_messages_path(current_user,recipient_id:@user.id) do |f| %>
            <%= f.text_area :message, placeholder:"Send Message to #{params[:id]}" %><br/>
            <%= f.button "Send", class:'btn btn-success' %>
        <% end %>

        

    <% end %>
  </aside>
  <div class="span8">
    <% if @user.activities.any? %>
      <h3>Activities (<%= @user.activities.count %>)</h3>
      <%= will_paginate @activities %>
      <ol class="activities">
        <% @activities.each do |activity| %>
          <%= render partial:'activities/activity', locals: { activity: activity, comment:@comment } %>
        <% end %>
      </ol>
      <%= will_paginate @activities %>
    <% end %>
  </div>
</div>