<% provide(:title, @user.username) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= (@user.username) %>
      </h1>
      <div><%= link_to "Find Friend", users_path if user_signed_in? %></div>
      <div><%= link_to "See Friends", "#" %></div>
    </section>
  </aside>
  <div class="span8">
    <% if @user.activities.any? %>
      <h3>Activities (<%= @user.activities.count %>)</h3>
      <%= will_paginate @activities %>
      <ol class="activities">
        <% @activities.each do |activity| %>
          <%= render partial:'activities/activity', locals: { activity: activity, comment:@comment } %>
        <% end %>
      </ol>
      <%= will_paginate @activities %>
    <% end %>
  </div>
</div>