<div class="activity-feed">
  <li>
    <div class="row-fluid">
      <div class="span2">
        <%= link_to gravatar_for(activity.user), activity.user %>
      </div>
      <div class="span3">
        <div class="name">
          Activity:<%= activity.name %>
        </div>
        <div class="content category">
          Cagetory:<%= activity.category %>
        </div>
        <div>
          <%= link_to "Comment", "#", class:"comment-link", remote:true if current_user %>
        </div>
      </div>

      <div class="span7 content timestamp">
        <div class="content">
          <%= activity.description %><br/>
          <span class="timestamp">
            Posted <%= time_ago_in_words(activity.created_at)%> ago.
          </span>
          <span>
            <ul>
              <div class="user-comments">
                <% if activity.comments.any? %>
                  <% activity.comments.each do |comment| %>
                    <%= render partial:'comments/comment', locals: { activity: activity, comment:comment} %>
                  <% end %>
                <% end  %>
                <% if current_user %>
                  <%= render partial: 'comments/new_comment_form', locals: { activity: activity, comment:comment } %>
                <% end %>                
              </div>
            </ul>
          </span>
        </div>  
      </div>
    </div>
  </li>
</div>
  



